<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.nxt.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FinalProjectDPM/src/main/BetaDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.BetaDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FinalProjectDPM"/>
</launchConfiguration>
